<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置全局属性-->
    <settings>
        <!--获取插入数据的自增主键 默认false-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换列别名 默认true-->
        <setting name="userColumnLabel" value="true"/>
        <!--开启驼峰命名转换 默认是false-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--给类取别名-->
    <typeAliases>
        <package name="cn.kyne.seckill.entity"/>
    </typeAliases>

</configuration>